<h1 style="margin-top: 30px">Personal Journal</h1>
<p>Group Project Week 6</p>
<!-- Container for the creation of new entries -->
<div class="container">
	<div class="myRow jumbotron">
		<div class="col-md-12 mx-auto jumbotron">
			<h3>Add Post</h3>
			<!-- Added a onsubmit on the form and forced it to not refresh page -->
			<form id="inputForm" action="" onsubmit="createPost(); return false">
				<div class="form-group">
					<input class="form-control" type="text" name="title" placeholder="Title" required />
					<input class="form-control" type="text" name="subtitle" placeholder="Subtitle" required />
					<textarea
						style="word-wrap:break-word"
						class="form-control"
						name="content"
						placeholder="Content"
						required
					></textarea>
				</div>
				<button class="btn btn-success form-control" type="submit">SUBMIT</button>
			</form>
		</div>
	</div>

	<div class="container jumbotron" id="entries">
		<h2>List of articles</h2>
		<div class="row" id="row"></div>
	</div>

	<button onclick="logout()" class="btn btn-primary" style="margin-bottom:30px">
		Logout
	</button>

	<!-- Modal -->
	<div
		class="modal fade text-left"
		id="myModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="myModalLabel"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Update Post</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
</div>
