<h1 style="margin-top: 30px">Personal Journal</h1>
<p>Group Project Week 6</p>
<h2 style="margin-top:40px">Login Form</h2>
<div class="Form">
	<form action="" id="loginForm" onsubmit="login(); return false">
		<div class="form-group">
			<h4>Enter username</h4>
			<input
				type="text"
				class="form-control"
				id="inputUsername"
				name="username"
				placeholder="Username"
				required
			/>
		</div>

		<div class="form-group">
			<h4>Enter password</h4>
			<input
				type="password"
				class="form-control"
				id="inputPassword"
				name="password"
				placeholder="Password"
				required
			/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-info" style="margin-top:10px" name="logIn">Sign in</button>
		</div>
	</form>
	<button onclick="startRegistration()" class="btn btn-primary">
		Register now!
	</button>
</div>
