<h1 style="margin-top: 30px">Personal Journal</h1>
<p>Group Project Week 6</p>
<h2 style="margin-top:40px">Register Form</h2>
<div class="register-form">
	<form action="" id="registerForm" class="Form" onsubmit="registerNewUser(); return false">
		<div class="form-group">
			<h4>Create username</h4>
			<input type="text" class="form-control" name="username" placeholder="Username" required />
		</div>

		<div class="form-group">
			<h4>Create password</h4>
			<input type="password" class="form-control" name="password" placeholder="Password" required />
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-info" name="register" style="margin-top:10px">
				Register now
			</button>
		</div>

		<button onclick="loginNow()" class="btn btn-primary">Login now!</button>
	</form>
</div>
