body {
	background-color: #233f7e;
	color: white;
	.myRow.jumbotron {
		background-color: #7d90ce;
		.col-md-12.mx-auto{
			color:black;
			background-color: #ecf0f1;
			padding: 20px;
			border-radius: 0.5em;
		}
		.btn.btn-success.form-control {
			background-color: #00c853;
		}
	}
	#entries.container.jumbotron {
		background-color: #7d90ce;
		color: whitesmoke;
		.row {
			margin: 10px;
			article {
				color: black;
				background-color: whitesmoke;
				border: 3px solid #cfd8dc;
				word-wrap: break-word;
				border-radius: 0.5em;
				margin-top: 2%;
			}
		}
	}
	.form-control {
			margin-top: 10px;
	}	
}

#myModal {
	color: black;
}

.Form{
	background-color: whitesmoke;
	color: black;
	padding: 5%;
	border-radius: 0.5em;
	margin:2%
}

